html, body {
    margin: 0;
    padding: 0;
    color: navy;
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.app > input,
.app > button {
    width: 40vw; 
    padding: 0.5em;
    margin: 0.5em;
    box-sizing: border-box;
    border-radius: 100px;
}

.app > input {
    border: 2px solid navy;
}

.app > button {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.app > button:active,
.app > button:focus {
  outline: none;
}

.app > button:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
